<!DOCTYPE html>
<html>
<head>
  <title>Safety Cone</title>
  <%= stylesheet_link_tag 'safety_cone/application', media: 'all' %>
</head>
<body>
  <div class='wrapper'>
    <div class='header'>
      <%= image_tag('safety_cone/logo.png', size: '60x60', class: 'logo') %>
      <h3>Safety Cone</h3>
      <%= link_to 'home', '/', class: 'btn back dark-grey' %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
