<!DOCTYPE html>
<html>
<head>
  <title>Safety Cone</title>
  <%= stylesheet_link_tag 'safety_cone/application', media: 'all' %>
</head>
<body>
  <div class='wrapper'>
    <div class='header'>
      <%= image_tag('safety_cone/logo.png', size: '80x80', class: 'logo') %>
      <h2>Safety Cone</h2>
    </div>
    <div class='grid'>
      <%= yield %>
    </div>
  </div>
</body>
</html>
