<!DOCTYPE html>
<html>
<head>
  <title>Safety cone mountable</title>
  <%= stylesheet_link_tag    "safety_cone_mountable/application", media: "all" %>
  <%= javascript_include_tag "safety_cone_mountable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
