<% @cones.each do |cone, options| %>
  <%= options[:name] %>

  <span class="chip status-<%= status(cone) %>">
    <%= status(cone) %>
  </span>

  <%= link_to 'edit', edit_cone_path(cone), class: 'waves-effect waves-light btn' %>
<% end %>
